<div class="client-header">
    <div class="client-header__client">
        <div class="client-header__name">
            Beechams Investment Wrap
        </div>
        <div class="client-header__account">
            123456789 • Individual
        </div>
    </div>
    <div class="client-header__portofolio">
        <div class="client-header__portofolio--label">Portfolio value as of today</div>
        <div class="client-header__portofolio--value">
            $416,400.00


        </div>
    </div>
</div>