$g__color--blue: #007ead;
$g__color--dark-blue: #007ba9;
$g__color--light-grey: #a1acb4;
$g__color--da-grey: #5b6770;
$g__color--grey: #67757f;
$g__color--dark-grey: #48525a;
$g__color--black: #00232b;
$g__color--white: #ffffff;
$g__color--light-blue: #c8f1ff;

$g__color--icon-default: #a2a6a9;
$g__color--icon-active: #00afd7;
