$g__size--5: 0.3125rem;
$g__size--10: 0.625rem;
$g__size--12: 0.75rem;
$g__size--14: 0.875rem;
$g__size--15: 0.9375rem;
$g__size--16: 1rem;
$g__size--20: 1.25rem;
$g__size--22: 1.375rem;
$g__size--24: 1.5rem;
$g__size--30: 1.875rem;

$g__size--50: 3.125rem;

$g__max-view-size--1317: 82.3125rem;
