<aside class="sidebar">
  <nav>
    <ul class="sidebar__items">
      <li
        tabindex="-1"
        class="sidebar__item"
        *ngFor="let item of sidebarConfig"
        [ngClass]="{ 'sidebar__item--active': currentRoute == item.name }"
        (click)="onNavItemClick(item.name)"
      >
        <a [routerLink]="item.route">
          <img
            tabindex="-1"
            [src]="
              currentRoute == item.name ? item.activeIcon : item.defaultIcon
            "
            [alt]="item.name"
            class="sidebar__icon"
        />
    </a>
      </li>
    </ul>
  </nav>
</aside>
